.triangle.increase {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #00af00;
}
.triangle.decrease {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #ff0000;
}