@import "tailwindcss";

@theme inline {
  --color-white: #fff;
  --color-light-gray: #606060;
  --color-gray: #353535;
  --color-black: #202020;
  --color-pink: #d900ff;
}

body {
  background-color: var(--color-white);
}

.content {
  width: 100%;
  height: 100%;
}